<html>
  <head>
   <link rel="stylesheet" href="style.css">
  </head>
  <body class="bdy" ng-app="myApp" ng-controller="mainController as ctrl">
    <span ng-repeat="item in ctrl.data">
       <span ng-repeat="(k,v) in item" ng-click="ctrl.clickVideo(k,v)">
         <div ng-if="ctrl.trustedUrl.k == k"> <iframe width="420" height="315" ng-src="{{ctrl.trustedUrl.url}}"></iframe></div>
         <figure><img ng-src="https://in.bmscdn.com/events/moviecard/{{v.EventImageCode}}.jpg">
           <span class="textOver">{{v.ShowDate}}</span>
           <figcaption>{{v.EventTitle}}<figcaption>
           </figure>

      </span>
    </span>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
  <script src="main.js"></script>
 </html>
