.bdy {
    background-color: black;
  }
  img{
    height: 200px;
    width: 200px;
  }
  .textOver{
    position: absolute;
    left: 160px;
    top: 0px;
    background-color: green;
    border-radius: 50px;
    color: white;
    text-align: center;
  }
  iframe {
    width: 100%;
  }
  figure{
    display: inline-block !important;
    padding-left: 20px;
    position: relative;
  }
  figcaption{
    color: white;
  }
